<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="db.connection" value="mongodb://localhost" />
    <add key="db.database" value="ltnet" />
    <add key="twitter.query" value="#ltnet+-ltnet.tv"/>
    <add key="rss.sergejus" value="http://sergejus.blogas.lt/tag/ltnet/atom"/>
  </appSettings>
</configuration>
