<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="db.connection" value="mongodb://localhost" />
    <add key="db.database" value="ltnet" />
    <add key="twitter.query" value="#ltnet+-ltnet.tv" />
    <add key="rss.sergejus" value="http://sergejus.blogas.lt/tag/ltnet/atom" />
    <add key="rss.tautvydas" value="http://blogs.msdn.com/tdagys/atom.xml" />
    <add key="sys.refreshPeriodInSec" value="60" />
    <add key="lucene.indexPath" value="c:\dotnetgroup\luceneindex"/>
  </appSettings>
</configuration>
