<div data-role="content">
    <div class="content-primary">
        <ul data-role="listview">
            @foreach (var itemView in Model)
            {
                @Html.DisplayFor(x => itemView)
            }
        </ul>
    </div>    
</div>
