@model StreamFilter
<span class="js-module" data-module="Home_Index"></span>
<div data-role="content">
    <div class="content-primary">
        <ul class="stream-item-list" data-role="listview">
            @Html.Action(MVC.Home.ActionNames.Items, Model.AsRouteValuesDictionary())
        </ul>
    </div>
</div>