@model ItemsView
@{
    Layout = null;
}
@foreach (var itemView in Model.Items)
{
    @Html.DisplayFor(x => itemView)
}

@if (this.Model.Items.Any())
{
    var toDate = Model.Items.Min(x => x.Published).AddSeconds(-1);
    var url = Url.Action(MVC.Home.ActionNames.Items, Model.Filter.WithToDate(toDate).WithFromDate(toDate.AddDays(-7)).AsRouteValuesDictionary());
    <li class="more-items" data-url="@url">Senesni...</li>
}
