.font {
	font-family: SegoeWPRegular;
}

.navbar {
    .font;
	height: 20px;
}

#spinner {
	position: fixed; 
	width: 100%; 
	height: 85%;
	z-index: -99999;
}

body {
	background-color: #eee;
}

@default-padding: 7px;

#stream {
	position: relative;
	top: 40px;
	margin: 10px;
	padding: @default-padding;
	padding-top: 0px;

	background-color: #fff;
	border: 1px solid #ccc;
	.border-radius(5px);
}

.item {
	padding-top: @default-padding;
	border-bottom: 1px solid #ccc;

	.item-header {
		height: 25px;
	}
	
	.item-author-img {
		float:left;
		margin-right: @default-padding;
		margin-bottom: @default-padding;
	}

	.item-author-name { }

	.item-time {
		font-size: .9em;
		color: #999;
		float: right;
	}
		
	.item-hover {
		display: inline-block;
		vertical-align: top;
		.list-item(@default-padding);
		b {
			font-weight: normal;
		}
	}

	.item-tags {
		.list-item(@default-padding);
	}
	
	.item-content {
		clear: both;
	}
		
	.item-img {
		float: left;
		margin-right: @default-padding;
		margin-bottom: @default-padding;
	}
}

.list-item(@space) {
	li {
		float: left;
		list-style: none;
		margin-right: @space;
	}
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}