@model IEnumerable<string>
@if (Model != null && this.Model.Any())
{
    <div>
        <ul class="tags mas pas">
            @foreach (var tag in @Model)
            {
                <li><a href="{tag posts}">@tag.ToLower()</a></li>
            }
        </ul>
    </div>
}