<div data-role="navbar" class="nav-main" data-grid="c">
    <ul>
        <li><a href="@Url.Action(MVC.Home.Index())" id="home" data-icon="custom">Nauji</a></li>
        <li><a href="@Url.Action(MVC.Home.ActionNames.Index, new StreamFilter().WithItemType(ItemType.Rss).AsRouteValuesDictionary())" id="rss" data-icon="custom">RSS</a></li>
        <li><a href="@Url.Action(MVC.Home.ActionNames.Index, new StreamFilter().WithItemType(ItemType.Twitter).AsRouteValuesDictionary())" id="twitter" data-icon="custom">Twitter</a></li>
        <li><a href="#" id="search" data-icon="custom">Paieška</a></li>
    </ul>
</div>
