@*<tr class="load-more well">
    <td colspan="2">
        <button id="btnLoadMore" class="btn btn-inverse" data-loading-text="Loading items..." data-complete-text="Load more...">Load more...</button>
    </td>
</tr>*@
    <script id="containerTemplate" type="text/x-jquery-tmpl">
        <table class="table">
            {{each Items tmpl="#itemTemplate"}}
        </table>
    </script>
    <script id="itemTemplate" type="text/x-jquery-tmpl">
        <tr class="item">
            <td style="width: 25px">
                <img src="../../Public/img/icon-{{toItemType ItemType}}.png" alt="{{=ItemType}}" />
            </td>
            <td>
                <div>
                    <div class="item-author-image">
                        <img alt="Author Image" src="{{get AuthorImage defaultValue='http://placehold.it/48x48'}}" />
                    </div>
                    <div class="item-read-more">
                        <a href="{{=Url}}" title="Read original post" target="_blank">
                            <i class="icon-share-alt"></i>
                        </a>
                    </div>
                    <div class="item-author-info">
                        <a href="{{=AuthorUri}}">{{=AuthorName}}</a> | <span class="item-date">{{toDate Published}}</span>
                    </div>
                    <div class="item-tags">
                        {{each Tags tmpl="#tagTemplate"}}
                    </div>
                    <div class="item-content">
                        <h3>{{=Title!}}</h3>
                        {{=Content!}}
                    </div>
                </div>
            </td>
        </tr>    
    </script>
    <script id="tagTemplate" type="text/x-jquery-tmpl">
        <span class="label">{{=$data}}</span>
    </script>
    <script type="text/javascript">
        Templates.registerJsRenderHelpers();
    </script>
