<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Raw(SquishIt.Framework.Bundle.Css()
            .Add("~/Public/css/bootstrap.css")
            .Add("~/Public/css/bootstrap-responsive.css")
            .Add("~/Public/css/fonts.css")
            .Add("~/Public/css/styles.less")
            .Render("~/Public/styles_#.css"))
    @Html.Raw(SquishIt.Framework.Bundle.JavaScript()
            .AddRemote("~/Public/js/lib/jquery-1.7.1.js", "http://code.jquery.com/jquery-1.7.1.min.js")
            .Add("~/Public/js/lib/jquery.dateFormat.js")
            .Add("~/Public/js/lib/jquery.query.js")
            .Add("~/Public/js/lib/date.js")
            .Add("~/Public/js/lib/bootstrap.js")
            .Add("~/Public/js/lib/jsrender.js")
            .Add("~/Public/js/scripts.api.js")
            .Add("~/Public/js/scripts.items.js")
            .Add("~/Public/js/scripts.actions.js")
            .Add("~/Public/js/scripts.templates.js")
            .Render("~/Public/scripts_#.js"))

    @{ Html.RenderPartial("GoogleAnalytics"); }
</head>
<body data-offset="50">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">#ltnet</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a id="item-stream" href="#" data-item-type="">Stream</a></li>
                        <li><a href="#" data-item-type="rss">Rss</a></li>
                        <li><a href="#" data-item-type="twitter">Twitter</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="#" style="font-size: .8em">by dotnetgroup.lt</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
@{ Html.RenderPartial("UserVoice"); }

</html>