<substitutions xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <production>
    <appSettings>
      <add xmu:key="key" key="db.connection" value="mongodb://localhost" />
    </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  </production>
</substitutions>