<substitutions xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
  <production>
    <appSettings>
      <add xmu:key="key" key="api.url" value="http://api.dotnetgroup.lt/v1/stream" />
    </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  </production>
</substitutions>